<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
   
    
  </head>
  <body>
        <h2>No more coins:</h2>
        <p>Your Gold: {{request.session.gold}}</p>
        <form  action="/add_coins" method="post">
            {% csrf_token %}
            <button name='add_coins' type="submit">Add coins</button>
            <input type='hidden' name='coins_to_add' value=20 />
        
        </form>

  </body>
</html>